<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.iaiabot.furuhuru.android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name=".issue.IssueActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:taskAffinity=""
            android:theme="@style/BaseAppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="n" />

        <service
            android:name=".service.SensorService"
            android:exported="false" />
    </application>
</manifest> 
